<!DOCTYPE html>
<html class="no-js" lang="zxx">
<!-- Mirrored from demo.graygrids.com/themes/shopgrids/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Nov 2021 18:23:13 GMT -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>shopping-cart</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/LineIcons.3.0.css" />
  <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
  <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
<% if (admin){ %>
  <%- include('../partials/admin-header.ejs') %>
    <% } else{ %>
  <%- include('../partials/user-header.ejs') %>
<% } %>

 <%- body %>

<script data-cfasync="false"
src="https://demo.graygrids.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/tiny-slider.js"></script>
<script src="/assets/js/glightbox.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>

<!-- Mirrored from demo.graygrids.com/themes/shopgrids/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Nov 2021 18:23:14 GMT -->

</html>